// Colors and Fonts
$White: #ffffff;
$LightGray: #d6e2f0;
$GrayishBlue: #7b879d;
$DarkBlue: #1f3251;
$FontSizeDefault: 15px;
$FontOutfit: 'Outfit', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $FontOutfit;
  font-size: $FontSizeDefault;
  background-color: $LightGray;
}

// Card
@import 'card';

// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
  
  a {
    color: hsl(228, 45%, 44%);
  }
}
